{% extends 'base.html' %}
{% load static %}

{%block style %}
    <link rel="stylesheet" href="{%static 'style.css'%}">
{% endblock %}
{%block header%}
<ul class="header_list">
    <li><a href="{% url 'home' %}">Home</a></li>
    <li><a href="{% url 'article' %}">Articles</a></li>
    <li><a href="{% url 'login' %}">Login</a></li>
    <li><a href="{% url 'home' %}">Logout</a></li>
</ul>
{%endblock%}


{% block content %}
    <ul class="article_list">
        {% for article in articles %}
        <ul>
            {% for topic in article.topic.all %}
                <p> {{topic.title}}</p>
            {% endfor %}
            <li>{{article.title}} created at {{article.date_of_create}}</li>
            <li>{{article.text}}</li>
        </ul>
        {% endfor %}
    </ul>
{% endblock %}