{% extends 'base.html' %}
{% load static %}

{%block style %}
    <link rel="stylesheet" href="{%static 'style.css'%}">
{% endblock %}
{%block header%}
<ul class="header_list">
    <li><a href="{% url 'home' %}">Home</a></li>
    <li><a href="{% url 'article' %}">Articles</a></li>
    <li><a href="{% url 'login' %}">Login</a></li>
    <li><a href="{% url 'home' %}">Logout</a></li>
</ul>
{%endblock%}


{% block content %}
<section class="register">
    <form>
        <label for="name">Name:</label><br>
        <input type="text" id="name" name="name" required><br><br>
        
        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email" required><br><br>
        
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password" required><br><br>
        
        <input type="submit" value="Register">
    </form>
</section>
    {% endblock %}